<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>ExcluirBairro</servlet-name>
        <servlet-class>ExcluirBairro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirBairro</servlet-name>
        <url-pattern>/ExcluirBairro</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>ExcluirCidade</servlet-name>
        <servlet-class>ExcluirCidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirCidade</servlet-name>
        <url-pattern>/ExcluirCidade</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>ExcluirEndereco</servlet-name>
        <servlet-class>ExcluirEndereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirEndereco</servlet-name>
        <url-pattern>/ExcluirEndereco</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirEstado</servlet-name>
        <servlet-class>ExcluirEstado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirEstado</servlet-name>
        <url-pattern>/ExcluirEstado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirPais</servlet-name>
        <servlet-class>ExcluirPais</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirPais</servlet-name>
        <url-pattern>/ExcluirPais</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExcluirPessoa</servlet-name>
        <servlet-class>ExcluirPessoa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcluirPessoa</servlet-name>
        <url-pattern>/ExcluirPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BairroController</servlet-name>
        <url-pattern>/BairroController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BairroController</servlet-name>
        <servlet-class>controller.BairroController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CidadeController</servlet-name>
        <url-pattern>/CidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CidadeController</servlet-name>
        <servlet-class>controller.CidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnderecoController</servlet-name>
        <url-pattern>/EnderecoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EnderecoController</servlet-name>
        <servlet-class>controller.EnderecoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstadoController</servlet-name>
        <url-pattern>/EstadoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EstadoController</servlet-name>
        <servlet-class>controller.EstadoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaisController</servlet-name>
        <url-pattern>/PaisController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaisController</servlet-name>
        <servlet-class>controller.PaisController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroPessoaController</servlet-name>
        <url-pattern>/CadastroPessoaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroPessoaController</servlet-name>
        <servlet-class>controller.CadastroPessoaController</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>RoteadorController</servlet-name>
        <url-pattern>/RoteadorController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoteadorController</servlet-name>
        <servlet-class>controller.RoteadorController</servlet-class>
    </servlet>
</web-app>
